<div class="row">
  <div class="col-md-6">
    <% Array(document['image_url_ssm']).each do |img| %>
        <% fs_id = URI.decode(img.sub(%r{\/image-service\/([^\/]+).*}, '\1')).sub(%r{\A([^\/]*)\/.*}, '\1') %>
        <% if document.file_sets.find { |fs| fs.id == fs_id }.pdf? %>
          <%= link_to(image_tag(img, style: 'width: 100%'), download_url(fs_id, only_path: true)) %>
        <% else %>
          <%= picture_tag(img, style: 'width: 100%') %>
        <% end %>
    <% end %>
  </div>
</div>
